.svg {
    [data-level='1'] {
        [data-level='2'] {
            display: none;
        }

        &:hover {
            > [data-content] {
                display: none;
            }

            [data-level='2'] {
                display: unset;
            }
        }
    }
}
