.card {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;

    padding: 8px; //var(--padding-large); SORRY I brute-forced changed this
    background: var(--background);
    color: var(--font-color);
}
