.card {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;

    padding: var(--padding-large);
    background: var(--background);
    color: var(--font-color);
}
