.container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chartContainer {
    position: relative;
    height: 100%;
    margin-top: auto;
}

.titles {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--padding-large);
}

.subtitle {
    color: var(--accent-color);
    font-style: normal;
}
