@font-face {
    font-family: 'Syne';
    src: local('Syne'), url('../assets/fonts/syne/Syne-ExtraBold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Syne';
    src: local('Syne'), url('../assets/fonts/syne/Syne-SemiBold.ttf') format('truetype');
    font-weight: normal;
}
