@import 'normalize';
@import 'font-faces';
@import 'variables';

*,
*::before,
*::after {
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
}

html,
body {
    background: var(--almost-black);
    font-family: 'Space Grotesk', sans-serif;
    color: var(--almost-white);
    font-weight: 500;
}
