:root {
    --black: #111;
    --white: #fcf3f4;
    --off-white: #f7dddc;
    --red: #e6857e;

    --font-size-small: 16px;
    --font-size-middle: 24px;
    --font-size-large: 32px;
    --font-size-huge: 40px;

    --radius-normal: 24px;
    --radius-small: 12px;
}
