:root {
    --pink: #ee34b1;
    --green: #4faf66;
    --red: #f5521d;
    --black: #000;
    --almost-black: #171717;
    --almost-white: #e3e4e3;
    --white: #fff;

    --rose: #fd62d9;
    --purple: #8234de;
    --deep-blue: #000321;
    --turquoise: #0a8e6c;
    --yellow: #ffda28;
    --blue: #3642f0;

    --font-family-mono: 'Space Mono', monospace;
    --font-family-grotesk: 'Space Grotesk', sans-serif;

    --font-size-small: 16px;
    --font-size-large: 32px;
    --font-size-huge: 64px;

    --padding-tiny: 8px;
    --padding-small: 16px;
    --padding-large: 32px;
    --padding-huge: 64px;
}
