.link {
    font-size: 64px;
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    background: var(--accent-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-family: var(--font-family-mono);
}
