.link {
    font-size: 64px;
    width: 128px;
    height: 128px;
    display: flex;
    background: var(--accent-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: auto;
}
