.container {
    z-index: 1;
    position: absolute;
    inset: var(--padding-tiny);
    padding: var(--padding-large);
    background: var(--almost-white);
    color: var(--almost-black);
}

.wrapper {
    max-width: 80ch;
    margin: 0 auto;
    max-height: 100%;
    overflow: auto;

    h1 {
        font-size: 32px;
        margin-bottom: var(--padding-large);
    }

    h2 {
        margin: var(--padding-large) 0;
    }

    p {
        display: inline-block;
        margin: 0;
        margin-bottom: var(--padding-tiny);
        font-weight: 400;
    }

    strong {
        display: inline-block;
        margin-top: 1.5em;
    }

    a {
        text-decoration: underline;
    }
}

.portraits {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--padding-large);

    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: var(--padding-large);
}

.portraitFigure {
    margin: 0;

    img {
        object-fit: cover;
        width: 100%;
        aspect-ratio: 1;
        max-width: 256px;
        max-height: 256px;
    }
}
.contentImage {
    img {
        object-fit: cover;
        width: 100%;
        // aspect-ratio: 1;
        // max-width: 256px;
        // max-height: 256px;
    }
}
