.grid {
    display: grid;
    grid-template-columns: repeat(9, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
    grid-template-areas:
        'search search search  search  title   title   title  title about'
        'stats  stats  scatter scatter scatter scatter food   food  food'
        'stats  stats  scatter scatter scatter scatter food   food  food'
        'waffle waffle scatter scatter scatter scatter food   food  food'
        'waffle waffle line    line    line    line    food   food  food'
        'waffle waffle line    line    line    line    food   food  food';
}
