.card {
    grid-area: averageSkillScore;
}

.chartWrapper {
    position: relative;
    display: flex;
    height: 150px;

    & > svg {
        position: absolute;
        inset: 0;
    }
}

.skillButtonWrapper {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.skillButton {
    background: transparent;
    color: var(--black);
    border: 2px solid var(--black);
    border-radius: 999px;
    padding: 0 6px;
    cursor: pointer;

    &.active {
        background: var(--black);
        color: var(--white);
    }
}
